*{ 
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-image: linear-gradient(whitesmoke),rgb(35,47,58);

	

}

/* Navigation Styles */
nav ul {
	list-style-type: none;
	overflow: hidden;
	background-color: #0f1337;
	display: table;
	width: 100%;
}
nav li {
	display: table-cell
}
li a {
	display: block;
	color: white;
	padding: 30px;
	text-decoration: none;
	text-align: center;
}
li a:hover {
	background-color: #bbe4e9;
	color:black;
}

/* Header Styles */
/*
header {
	background-color:
}
h1 {
	color:
} */


/* Main Page Content Styles */

section {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: auto;
}
.center-title {
text-align: center;


}
.information{
	color: black;
}

/* About Section Styles */
#about-sec {
	display: flex;
	flex-direction: column;

}
#about-sec h2{
	font-size: 1.95em;
	padding: 0 1.5em;

}
#about-sec{
	padding: 0 2.5em;
	background-color: #79c2d0;
	margin: 0 auto;
	padding: 2em;
	height: max-content;
	width: 100%;
	
	
	

}

#about-blurb{
	padding: 0 2.5em;
	text-align: left;
	word-spacing: 0.3em;
	font-size: 1.5em;
	font-family:'Times New Roman', Times, serif
}
#about-sec div {
	display: inline-flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-evenly;
}
figure {
	display: flex;
	width: 30%;
	flex-direction: column; 

}

figcaption{
	property-value pair;
	background-color: rgba(35,47,58);
	color: whitesmoke;
padding: 0.25em;
opacity: 0.5;
font-size: 0.85em;
}

/* Aside Styles */
aside {
	display: flex;
	flex-direction: column;
	border: 4px double black;
	margin: 1em 0;
	color: rgba(35, 47, 58, 0.05);
	background-color: rgba(35,47,58,0.05);

}
aside p{
	font-weight: 600;
	font-size: 1.25em;
	background-color: rgb(35,47,58);
	color: whitesmoke;
	padding: 0.5rem;
	margin: 0;
	text-transform: uppercase;
	border-bottom: 4px double rgba(0,0,0,0.77);
	opacity: 0.6;
}

aside ul li a{
	text-align: justify;
	padding: 0;
	color: rgb(35,47,58);
	text-decoration: underline;
}

aside ul{
	font-size: 0.9em;
	margin: 1em;
	padding: 0 0.75em 0 1em;
}
/* Table - Concert Schedule Styles */
#concert-schedule-sec {
	width: 100vw;
	margin: 0 auto;
	height: max-content;
	color: white;
	background-color: #5585b5;
	padding: 2em;
	font-size: 1em;
	border: 4em;
	
	}

	#concert-schedule-sec h3{
		font-size: 2em;
	}

/* Form - Ticket Form Styles */
form {
	width: 35vw;
	margin: auto;
  }

input[type="text"], input[type="number"] {
min-height: 15px;
border-radius: 5px;
border:1px solid #cccccc;
}

input[type="radio"] {
margin-left: 12px;
}

th {
border: 2px solid #8c6b48;
}

table {
text-align: center;
margin: 20px auto;
}

td {
border: 2px solid #8c6b48;
width: 300px;
}
